@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --color-one:#2C3A58; 
    --color-two:#FFC800; 
    --color-text:#3960AD; 
    --font:"Inria Serif", serif; 
}
body{
    font-family: var(--font); 
}
a{
    text-decoration: none;
}
.container {
    width:100%; 
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:1200px) {
    .container{
        max-width: 960;
    }
}
@media (max-width:992px) {
    .container{
        max-width: 720;
    }
}
@media (max-width:768x) {
    .container{
        max-width: 540;
    }
}
@media (max-width:576px) {
    .container{
        max-width: 100%;
    }
}
